<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review Confirmation</title>
</head>

<body>
	<h1>Your Review</h1>
	<div>
		<strong>Professor name: </strong><%- profname %><br>
		<strong>Your name: </strong><%- studname %><br>
		<strong>Rating you've given <%- profname -%>: </strong><%- rating %><br>
        <strong>Details: </strong><%- reviewtext %><br>
		
	</div>
	<hr>
	<a href="/"><u>HOME</u></a>
</body>

</html>
